@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-background font-sans text-slate-200 antialiased;
}

button {
  @apply transition-all duration-300 ease-in-out;
}
